
/*    variables    */
:root {
    --primary: #353535;
    --secundary: #B3B3B3;
    --tertiary: rgb(139, 69, 8);
    --z-normal: 1;
    --z-back: -10;
    --z-over: 100;
    --title-font: 'Playfair Display', serif;
    --content-font:'Source Sans Pro', sans-serif;
}
/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgba(0,0,0,1);
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
/* fonts */
h1,h2,h3,h4,h5{
    font-family: var(--title-font);
}
h1,h3 {
    font-size: 1.4em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
p{
    font-family: var(--content-font);
}
/* base styles */
body {
    background: var(--primary);
    overflow-x: hidden;
    font-size: 16px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
/* fonts */

                /* MOBILE STYLES */
/* header section */
header{
    position: relative;
}
/* menu section  */
.menu-hero{
    width: 100vw;
    position: relative;
}
.menu-hero h1{
    grid-column: 1/9;
    text-transform: capitalize;
    grid-row: 1;
    border-bottom: 3px solid transparent;
    font-size: 2.25em;
    transition: 0.5s;
    text-align: center;
    color: rgb(233, 233, 233);
    z-index: var(--z-over);
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%) ;
}
/* image menu section */
.john-portrait {
    width: 100vw;
    position: relative;
}
.john-portrait img{
    max-width:100%;
    height: auto;
    grid-column: 1/9;
    grid-row: 1;
    z-index: var(--z-back);
    background-position: center;
    margin: 0 auto;
}
.john-portrait h2 {
    grid-column: 1/9;
    z-index: var(--z-over);
    grid-row: 1;
    color:  rgba(228, 115, 15, 0.45);
    align-self: end;
    text-align: center;
    mix-blend-mode: screen;
    height: 1em;
    font-size: 4em;
    line-height: 0.8em;
    font-size: 2.5em;
    position: absolute;
}
/* biography section */

.bio-container h4{
    position: relative;
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    color: var(--secundary);
    margin-top: -3px;
    z-index: -1000;
    background:  rgb(139, 69, 8);
}
.bio-container h4::before, .bio-container h4::after{
    position: absolute;
    content:'';
    width:25px;
    height:25px;
    background-color:var(--tertiary);
    z-index: -100;
    bottom: 0;}

.bio-container h4::before{
    right:50%;
    transform: skew(0,30deg);
}
.bio-container h4::after{
    left:50%;
    transform: skew(0,-30deg);
}
.bio-box img{
    height: auto;
    width: 125px;
}
.bio-box p {
    grid-column: 2/8;
    color: var(--secundary);
    margin: 0.5em 0 0.5em 0;
    line-height: 1.5em;
}
.bio-box p:first-child::first-letter {
    color: var(--tertiary);
    display: block;
    float:left;
    font-size: 2em;
    font-weight: bold;
    line-height: 100%;
    margin: 0 5px 0px 0px;
    font-family: var(--title-font);
}
.bio-box p:last-child{
margin-bottom: 2em;
}
/* gallery section */
.gallery-container {
    background-color: var(--secundary);
}
.gallery-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr)  ;
    gap: 1rem;
    padding: 1rem;
}
.gallery-container h3{
    position: relative;
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    color: var(--secundary);
    margin-top: -3px;
    background:  rgb(139, 69, 8);
    padding-bottom: 5px;
    z-index: var(--z-over);
}
.gallery-container h3::before, .gallery-container h3::after{
    position: absolute;
    content:'';
    width:25px;
    height:25px;
    background-color:var(--tertiary);
    z-index: -1;
    bottom: 0;}

.gallery-container h3::before{
    right:50%;
    transform: skew(0,30deg);
}
.gallery-container h3::after{
    left:50%;
    transform: skew(0,-30deg);
}
.gallery-box div img {
    max-width: 100%;
}
.gallery-box p {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}
.gallery-box p::first-letter{
    text-transform: uppercase;
    color: var(--tertiary);
    font-size: 2em;
}
.gallery-box p:last-child{
    margin-bottom: 2em;
}
/* contact section */

.contact-container h3{
    position: relative;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    color: var(--secundary);
    margin-top: -3px;
    background:  rgb(139, 69, 8);
    padding-bottom: 5px;
    z-index: var(--z-over);
}
.contact-container h3::before, .contact-container h3::after{
    position: absolute;
    content:'';
    width:25px;
    height:25px;
    background-color:var(--tertiary);
    z-index: -1;
    bottom: 0;}

.contact-container h3::before{
    right:50%;
    transform: skew(0,30deg);
}
.contact-container h3::after{
    left:50%;
    transform: skew(0,-30deg);
}
.contact-box div{
    font-family: var(--content-font);
    text-align: center;
}

.contact-box div:first-child{
    grid-column: 2/5;
}
.contact-box div:last-child{
    grid-column: 5/8;
}
.fa {
    font-size: 2em;
    color: var(--secundary);
}
/* footer section */
.footer-container{
    background-color: var(--tertiary);
}
.footer-box p:first-child {
    grid-column: 2/5;
    grid-row: 1;
    margin: 5px 0 0 0;
    padding-bottom: 5px;
    align-self: center;
}
.footer-box ul{
    grid-column: 5/8;
}
.footer-box ul li{
    margin: 4vw ;
}
 @media screen and (max-width: 330px){
    .john-portrait h2 {
        grid-column: 1/9;
        z-index: var(--z-over);
        grid-row: 1;
        color:  rgba(228, 115, 15, 0.45);
        align-self: end;
        text-align: center;
        opacity: 1;
        height: 1em;
        font-size: 4em;
        line-height: 0.8em;
        font-size: 2em;
        position: absolute;
    
    } 
}
@media screen and (min-width: 541px) and (max-width: 767px){
    .menu-hero {
        width: 100vw;
        height: 100%;
        position: relative;
    }
    .menu-hero h1 {
        font-size: 3em;
    }
    /* HERO IMG AND TITLE SECTION */
    .john-portrait {
        display: grid;
        position: relative;
        height: 50%;
    }
    .john-portrait h2{
        position: absolute;
        font-size: 2.8em;
        left: 60%;
        z-index: var(--z-over);
        bottom: -50%;
    }
    .john-portrait h2::after {
        display: block;
        margin-top: 2.5%;
        content: '\25BE';
    }
    .john-portrait img {
        height: 93vh;
        z-index: var(--z-back);
    }
    /* BIO SECTION */
    .bio-container h4 {
        z-index: 100;
    }
    /* GALLERY SECTION */
    .img-box{
        width: 50%;
        justify-self: center;
    }
}

                /* small tablets styles */
@media screen and  (min-width: 767px) {
    /* HERO SECTION */
    .menu-hero {
        width: 100vw;
        height: 100%;
        position: relative;
    }
    .menu-hero h1 {
        font-size: 3em;
    }
    /* HERO IMG AND TITLE SECTION */
    .john-portrait {
        display: grid;
        position: relative;
        height: 50%;
    }
    .john-portrait h2{
        align-self: end;
        bottom: -50%;
        color:  rgba(228, 115, 15, 0.45);
        font-size: 2.5em;
        grid-column: 1/9;
        grid-row: 1;
        left: 60%;
        height: 1em;
        line-height: 0.8em;
        position: absolute;
        text-align: center;
        z-index: var(--z-over);
    }
    .john-portrait h2::after {
        display: block;
        margin-top: 5%;
        content: '\25BE';
    }
    .john-portrait img {
        height: 93vh;
        z-index: var(--z-back);
    }
    /* BIO SECTION */
    .bio-container h4 {
        z-index: 100;
    }
    /* GALLERY SECTION */
    .img-box{
        width: 50%;
        justify-self: center;
    }
}
                /* large tables & laptops */
@media screen and (min-width: 960px){
    
    body{
        font-size: 20px;
    }
    .john-portrait img {
        height: 91vh;
        z-index: var(--z-back);
    }
}

                /* desktop styles */
@media screen and (min-width: 1200px){
    
    body{
        font-size: 25px;
    }
    .menu-hero {
        width: 100vw;
        position: relative;
    }
    .menu-hero h1{ 
     margin: 20% 20% 0;
     font-size: 6em;
     white-space: pre-wrap;
     letter-spacing: 25px;
     text-transform: uppercase;
     color: var(--secundary);
     text-shadow: 1px 5px 1px rgb(37, 37, 37);
    }
    .menu-hero img{
        width: 89vh;
        height: auto;
        margin: 0 -50% 0 0;
   }
    .menu-hero h2{
        /* margin: 0 5% 12% 0; */
        display: none;
    }
}